* {
  margin-bottom: 5px;
  border-width: 3px;
}

.dotted {
  border-style: dotted;
}

.double {
  border-style: double;
}

.solid {
  border-style: solid;
}

.mixed {
  border-style: solid double dotted dashed;
  margin-top: 10px;
}

.solid-5px {
  border-width: 5px;
  border-style: solid;
}
.mixed-5px {
  border-style: solid;
  border-width: 1px 3px 5px 7px;
}

.solid-red {
  border-style: solid;
  border-color: purple;
}
.mixed-color {
  border-style: solid;
  border-color: blue rgba(255, 0, 0, 1) rgba(0, 255, 0, 1) seagreen;
}
.border-short {
  border: 5px solid blue;
}
.border-short-left {
  border-left: 10px solid red;
}
.border-short-bottom {
  border-bottom: 2px dashed pink;
}
.round-border-5px {
  border: 2px solid red;
  border-radius: 5px;
}
.round-border-20px {
  border: 2px solid red;
  border-radius: 20px;
}
.margins-10px {
  margin: 10px 10px 10px 10px;
}
.margins-20px {
  margin: 20px 20px 20px 20px;
}
.paddings-10px {
  padding: 10px 10px 10px 10px;
}
.paddings-20px {
  padding: 20px 20px 20px 20px;
}
.width-50px {
  width: 50px;
  height: 50px;
}
.width-50 {
  width: 50%;
  height: 50%;
}
