.color_green {
  color: green;
}
.color_blue {
  color: blue;
}
.back_color_yellow {
  background-color: yellow;
}

.box {
  background-color: yellow;
}
.box > .odd {
  color: green;
}
.box > .even {
  color: blue;
}
