.color_green {
  color: green;
}
.color_blue {
  color: blue;
}
div.back_color_yellow {
  background-color: yellow;
}

.back_color_yellow_parent {
  background-color: yellow;
}
.odd {
  color: green;
}
.even {
  color: blue;
}

#back_color_aqua {
  background-color: aqua;
}

h3 {
  color: brown;
}

.same_style_class {
  color: skyblue;
}
#same_style_id {
  color: aquamarine;
}
