div ~ h3 {
  //인접 형제
  color: green;
}

ul li {
  // ul 밑에 depth 깊숙히 있는 li 모두다
  color: brown;
  background-color: aqua;
}

ol > li {
  // 자기 자신 기준으로 직계 자손만
  color: white;
  background-color: black;
}

h3,
h4,
h5 {
  color: blue;
}

h4 {
  background-color: aqua;
}
